/* add css styles here (optional) */

.ReactSwipeButton {
  float: left;
  width: 100%;
  height: 50px;
  position: relative;
}
.rsbContainer{
  float: left;
  width: 100%;
  height: 100%;
  background: #eee;
  border-radius: 50px;
  position: relative;
  box-shadow: inset 1px 1px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}
.rsbcSlider {
  float: left;
  width: 100%;
  position: absolute;
  height: 50px;
  top:0;
  left: 50px;
  margin-left:-100%;
  background: rgba(0,0,0,0.2);
  border-radius: 25px;
  z-index: 100;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.rsbcSliderArrow{
  float: left;
  position: absolute;
  transform: rotate(45deg);
  border: 4px solid #fff;
  height: 13px;
  width: 13px;
  top:50%;
  right: 20px;
  margin-top: -10px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform-origin: center;
  z-index: 10;
}
.rsbcSliderCircle {
  position: absolute;
  right: 0;
  background: #444;
  top:0;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.rsbcText {
  float: left;
  position: absolute;
  top:0;
  left:0;
  right:0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 4px;
  color: #aaa;
}